<% 
	var deviceID = device.get('id')
	var iconId = 'device' + deviceID + 'icon'
	var infoId = 'device' + deviceID + 'info'
	var color = device.getColor()
%>

<style>
	#device<%=deviceID%> .deviceTop{
	    background-color    :<%= color %>;
	    color               :<%= color %>;
	}
</style>

<div class='deviceWrapper'>
	<div class='deviceTop'>
		<div id=<%=iconId%> class='deviceIconWrapper'></div>
		<div class="ellipsesWrapper">
			<div class="ellipses">
				<div class="ellipsis"></div>
				<div class="ellipsis"></div>
				<div class="ellipsis"></div>
			</div>
		</div>
	</div>
</div>