<% 
	var deviceID = device.getAttr('id');
	var stateObj = device.getState();
	var color = device.getColor();
%>

<style>
	#device<%=deviceID%> .deviceTop{
	    background-color    :<%= color %>;
	    color               :<%= color %>;
	}
</style>

<div class='deviceIcon'>
	<img class="iconSprite icon_<%=stateObj.icon%>" src="/nui/sensorimg/<%=stateObj.icon%>.png"></img>
</div>

<div class="deviceFooter">
	<div class="deviceName">
		<%= device.getAttr('name') %>
	</div>
	<div class="deviceLocation">
		<%= device.getAttr('location') %>
	</div>
</div>