.<link href="/nui/css/device.css" rel="stylesheet" type="text/css">
<link href="/nui/css/deviceIcon.css" rel="stylesheet" type="text/css">
<link href="/nui/css/deviceInfo.css" rel="stylesheet" type="text/css">
<link href="/nui/css/numberDisplay.css" rel="stylesheet" type="text/css">
<link href="/nui/css/switchDisplay.css" rel="stylesheet" type="text/css">

<div id='boxToListButton' class='viewSwapButton selected'>
	<img src="/nui/img/listview.png">
</div>
<div id='listToBoxButton' class='viewSwapButton'>
	<img src="/nui/img/gridview.png">
</div>

<div id="deviceList" class="deviceBoxList">
<%
	for(var i=0; i < devices.length; i++){
		var device = devices[i];
		var deviceID = device.getAttr('id')
%>
	<div class="item"  deviceId=<%=deviceID%>>
		<div  id="device<%=deviceID%>" class="item-content h2 w2"></div>
	</div>
<%
	}
%>
</div>
